{% extends 'base.html.twig' %}

{% block title %}New Tasks
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-md-6 mt-5 offset-md-3">
				<h1>Create new Tasks</h1>

				{{ include('tasks/_form.html.twig') }}
{% set task = projectId %}
				<a href="{{ path('app_tasks_index',{'id': task}) }}">Back to list</a>
			</div>
		</div>
	</div>
{% endblock %}
